body {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 1020px;
}

span {
	color: #f06c64;
}

.title {
	font-size: 25px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: left;
	margin: 0px;
	text-transform: uppercase;
	padding-left: 20px;
	letter-spacing: -0.5px;

}

header {
	width: 1020px;
	height: 95px;
	background-color: #2d303a;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

.header-top {
	display: flex; 
	flex-flow: wrap;
	height: 89px; 
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

header ul {
	display: inline-flex;
	flex-direction: row;
	list-style: none;
	padding-inline-end: 10px;
}

nav li {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 6px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-align: left;
	margin: 10px;
	cursor: pointer;
	padding-top: 10px;
	letter-spacing: -0.15px;	
}

nav li a {
	color: #ffffff;
}

main {
	padding-top: 95px;
}

figure {
	margin:0px;
}

.figure-phone-left {
	margin-right: 6px;
}

.figure-phone-right {
	margin-left: 6px;
}

h2 {
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-align: left;
	font-style: bold;
}

.nav-dot {
	color: #484e62;
    font-size: 14px;
    font-weight: 800;
    padding-top: 15px;
    margin-left: 2px;
    margin-right: 2px;
}

.services-header {
	margin: 0px;
	padding: 45px 40px 0px 40px;
}

.services-p {
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	font-weight: 100;
}

.services-text {
	margin-top: 15px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
}

.services-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 40px;
	padding-right: 20px;
    padding-top: 30px;
}

.services-item {
	flex: 1;
	flex-basis: 33%;
	display: flex;
	margin-bottom: 20px;
}

.services-item-icon-wrapper {
	display: flex;
	height: 55px;
    min-width: 55px;
    border-radius: 50%;
    border: 2px solid #666d89;
}

.services-item-icon-wrapper img {
	margin: auto;
}

.services-item-content-wrapper {
	display: inline-block;
	padding-left: 21px;
	width: 220px;
}

.services-item-name {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 10px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
}

.nav-li-active a {
	color: #f06c64;
	cursor: pointer;
}

.slider {
	width: 1020px;
	height: 600px;
	background-color: #f06c64;
}

.slider-items {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 1000px;
    height: 594px;
    padding-left: 10px;
    padding-right: 10px;
}

.services {
	width: 1020px;
	background-color: #f2f2f2;
	height: 494px;
}

.pointer {
	cursor: pointer;
}

#services-bottom {
	width: 1020px;
	height: 6px;
	background-color: #ffffff;
}

#header-bottom {
	width: 1020px;
	height: 6px;
	background-color: #323746;
}

#slider-bottom {
	width: 1020px;
	height: 6px;
	background-color: #ea676b;
}

.portfolio {
	width: 1020px;
	height: 869px;
	background-color: #2d303a;
	margin:0px;
}

#portfolio-top {
	width: 940px;
	background-color: #2d303a;
	padding: 69px 40px 0px 40px;
}

#portfolio-bottom {
	height: 6px;
	background-color: #323746;
}

.portfolio-header {
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	margin:0px;
	padding: 0px;
}

#portfolio-text {
	width: 940px;
	font-size: 18px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 300;
	text-align: left;
	margin: 31px 0px 0px 0px;
}

#portfolio-nav {
	display: inline-flex;
	flex-direction: row;
	list-style: none;
	padding-left: 41px;
	justify-content: space-between;
	width: 288px;
	margin-top: 15px;
	margin-bottom: 18px
}

.portfolio-nav-li {
	border-radius: 5px;
	border: 1px solid #666d89;
	padding: 3px 7px 4px 7px;
	font-size: 11px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
	cursor: pointer;
}

.portfolio-nav-li-active {
	color: #dedede;
	border: 1px solid #dedede;
}

#portfolio-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
    padding-bottom: 68px;
	width: 940px;
	height: 604px;
}

.portfolio-item {
	display: flex;
	width: 220px;
	height: 187px;
	margin-bottom: 20px;
}

#about-us {
	margin: 0px
	padding:0px;
	width: 1020px;
	height: 734px;
	background-color: #f2f2f2;
}

.about-us-header {
	margin: 0px;
	padding: 38px 40px 0px 40px;
}

.about-us-title {
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-align: left;
	font-style: bold;
	margin: 30px 0px 27px 0px;
}

#about-us-text {
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	font-weight: 300;
	margin: 0px 0px 45px 0px;
}

.about-us-items {
	padding: 0px 36px 65px 39px;
	display:inline-flex;
	flex-wrap: wrap;
	flex-basis: 33%; 
	justify-content: space-between;
	width: 945px;
}

.about-us-item {
	max-width: 304px;
}

.about-us-photo {
	max-width: 301px;
	max-height: 301px;
	margin: 0px;
	padding: 0px;
}

.about-us-name {
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	margin: 13px 0px 9px 0px;
}

.about-us-info {
	height: 65px;
	font-size: 12px;
	line-height: 21px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
	margin: 0px;
}

.about-us-contacts {
	display: inline-flex;
}

.contact-img {
	display: flex;
    align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #666d89;
	margin: 0px 6px 0px 0px;
	cursor: pointer;
}

.contact-img img {
	margin:auto;
}

#about-us-bottom {
	width: 1020px;
	height: 6px;
	background-color: #ffffff;
}

.get-a-quote {
	width: 1020px;
	height: 654px;
	margin: 0px;
	background-color: #f06c64;
}

.get-a-quote-header {
	padding: 68px 0px 0px 40px;
	text-align: left;
}

.get-a-quote-header p {
	font-size: 30px;
	line-height: 18px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	margin: 0px;
	letter-spacing: -0.21px;
}

#get-a-quote-header-text {
	margin-top: 27px;
	width: 940px;
	height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 300;
	text-align: justify;
	letter-spacing: 0px;
}

.get-a-quote-form {
	display: inline-flex;
	margin: 47px 40px 25px 40px;
	justify-content: space-between;
	width:940px;
}

input {
	width: 604px;
    height: 38px;
    border: 0px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding: 0px 0px 0px 15px;
    margin-bottom: 16px
}

input::-webkit-input-placeholder { color: #f48c8f; }
input:-ms-input-placeholder { color:#f48c8f; }
input::-ms-input-placeholder { color:#f48c8f; }
input::placeholder { color:#f48c8f; } 

textarea::-webkit-input-placeholder { color: #f48c8f; }
textarea:-ms-input-placeholder { color:#f48c8f; }
textarea::-ms-input-placeholder { color: #f48c8f; }
textarea::placeholder { color: #f48c8f; } 

textarea {
	resize: none;
	width: 605px;
	height: 195px;
	border: 0px;
	border-radius: 5px;
	background-color: #d6564f;
	padding: 7px 0px 0px 14px;
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
}

#submit {
	text-align: center;
	margin: auto;
}

input[type="submit"] {
	width: 100px;
	height: 38px;
	text-align: center;
	margin: auto;
	padding: 0px;
	background-color: #f0d8d9;
	color: #d6564f;
	font-weight: 700;
	font-size: 16px;
}

.get-a-quote-form-contacts-info {
	width: 300px;
	height: 137px;
	font-size: 12px;
	line-height: 21px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
	margin: 0px;
	letter-spacing: -0.15px;
}

.get-a-quote-form-contacts {
	width:300px;
	margin: 0px;
	padding: 0px;
}

.get-a-quote-form-contacts-info-title{
	font-size: 18px;
	line-height: 18px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 900;
	text-align: justify;
	margin: 1px 0px 10px 0px;

}

.get-a-quote-form-contacts-info p {
	margin: 0px;
}

.form-contacts{
	display: inline-flex;
	text-align: center;
}

.form-contacts-img{
	text-align: center; 
	width: 13px;
}

.form-contact {
	width: 200px;
	font-size: 12px;
	line-height: 21px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
	margin: 0px;
	letter-spacing: -0.15px;
	padding-left: 10px;
}

#get-a-quote-bottom {
	width: 1020px;
	height: 6px;
	background-color: #ea676b;
}

.footer {
	display: inline-flex;
	width: 1020px;
	height: 76px;
	background-color: #2d303a;
	justify-content: space-between;
	text-align: center;
}

.copyright {
	color: #666d89;
	height: 13px;
	width: 95px;
	text-align: center;
	margin:30px 41px;
}

.copyright p {
	margin: 0px;
	font-family: "Lato";
	font-weight: 300px;
	font-size: 12px;
}

.footer-contacts {
	display: inline-flex;
	margin: 21px 33px;
	text-align: center;

}

.contact-img {
	display: flex;
    align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #666d89;
	margin: 0px 6px 0px 0px;
	cursor: pointer;
}

.contact-img img {
	margin:auto;
}

.hidden {
	display: none;
}

.image-border {
	border: 5px solid #F06C64;
}

nav a {
	text-decoration: none;
}